/* Max width 767px */
@media only screen and (max-width: 767px) {
    .ptb-100 {
        padding: {
            top: 60px;
            bottom: 60px;
        }
    }
    .pt-100 {
        padding-top: 60px;
    }
    .pb-100 {
        padding-bottom: 60px;
    }
    .pt-75 {
        padding-top: 35px;
    }
    .pb-75 {
        padding-bottom: 35px;
    }
    .mb-50 {
        margin-bottom: 30px;
    }
    .pb-50 {
        padding-bottom: 30px;
    }
    .mb-70 {
        margin-bottom: 30px;
    }
    .mt-35 {
        margin-top: 0;
    }
    .pt-227 {
        padding-top: 120px;
    }
    .default-btn {
        font-size: 13px;
        padding: 12px 20px;
        img {
            display: none;
        }
        &.btn-two {
            padding: 12px 20px;
            font-weight: 400;
        }
    }
    .read-more {
        font-size: 14px;
    }
    .form-control {
        height: 50px;
        &::placeholder {
            font-size: 14px;
        }
    }
    .shape {
        display: none;
    }
    .mw-1740 {
        max-width: 540px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mw-1538 {
        max-width: 540px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mw-1677 {
        max-width: 540px;
        padding-left: 12px;
        padding-right: 12px;
    }

    /* Section Title Area Style
    ==================================================*/
    .top-title {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .section-title {
        margin-bottom: 35px;
        h2 {
            font-size: 25px;
        }
        &.left-title {
            max-width: 340px;
        }
    }
    /* Testimonials Area Style
    ==================================================*/
    .swiper-controller {
        &.end-0 {
            right: 0 !important;
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .custom-row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        justify-content: center!important;
    }
    .custom-grid-33 {
        flex: 0 0 auto;
        width: 50%;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .ptb-100 {
        padding: {
            top: 60px;
            bottom: 60px;
        }
    }
    .pt-100 {
        padding-top: 60px;
    }
    .pb-100 {
        padding-bottom: 60px;
    }
    .pt-75 {
        padding-top: 35px;
    }
    .pb-75 {
        padding-bottom: 35px;
    }
    .pb-50 {
        padding-bottom: 30px;
    }
    .mb-50 {
        margin-bottom: 30px;
    }
    .pb-115 {
        padding-bottom: 60px;
    }
    .mb-70 {
        margin-bottom: 30px;
    }
    .mt-35 {
        margin-top: 0;
    }
    .pt-227 {
        padding-top: 120px;
    }
    .default-btn {
        font-size: 13px;
        padding: 12px 20px;
        img {
            display: none;
        }
    }
    .read-more {
        font-size: 14px;
    }
    .form-control {
        height: 50px;
        &::placeholder {
            font-size: 14px;
        }
    }
    .shape {
        display: none;
    }
    .mw-1640 {
        max-width: 720px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mw-1740 {
        max-width: 720px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mw-1538 {
        max-width: 720px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mw-1677 {
        max-width: 720px;
        padding-left: 12px;
        padding-right: 12px;
    }

    /* Custom Row Grid Area Style
    ==================================================*/
    .custom-row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        justify-content: center!important;
    }
    .custom-grid-33 {
        flex: 0 0 auto;
        width: 50%;
    }

    /* Section Title Area Style
    ==================================================*/
    .top-title {
        margin-bottom: 10px;
        font-size: 15px;
    }
    .section-title {
        h2 {
            font-size: 30px;
        }
        &.left-title {
            max-width: 510px;
        }
    }

    /* Testimonials Area Style
    ==================================================*/ 
    .swiper-controller {
        &.end-0 {
            right: 0 !important;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .shape {
        &.shape-3 {
            display: none;
        }
    }

    .ms-30 {
        margin-left: 0;
    }

    /* Testimonials Area Style
    ==================================================*/
    .testimonials-controller {
        max-width: 650px;
    }

    .shape {
        &.shape-7 {
            right: 0;
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width : 1399px) {

    .shape {
        &.shape-3 {
            display: none;
        }
    }

    .ms-30 {
        margin-left: 0;
    }

    /* Testimonials Area Style
    ==================================================*/
    .testimonials-controller {
        max-width: 687px;
    }
}